<section id="persons">
    <style>
        
    </style>
    <section class="content-header">
        <h1>Person / Individual
        <small  class="text-danger">(Ensure you fill in all address details prior to starting a sale)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="contact">Contact</a></li>
            <li class="active">Person</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Primary Details</h3>
                    </div>

                    <div class="box-body">

                        <div class="col-lg-8">
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Title</label>
                                </div>
                                <div class="col-lg-6">
                                    <select id="" class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>Miss</option>
                                        <option>Ms</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">First Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Last Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Company Name</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Company Name" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Phone No</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input-sm" placeholder="Phone No" />
                                </div>
                                <div class="col-lg-3">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Home</option>
                                        <option>Work</option>
                                        <option>Mobile</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Email</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Email" />
                                </div>
                                <div class="col-lg-3">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Work</option>
                                        <option>Personal</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Website</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="www.xyz.com" />
                                </div>
                                <div class="col-lg-3">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Work</option>
                                        <option>Personal</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 pull-right">
                            <div class="row">
                                <!--<img src="../../../Content/icons/person.png" width="160" height="160" />-->
                                <!--<form action="" method="post" enctype="multipart/form-data" id="xid">-->
                                <input type="file" name="uImage" id="uImage">
                                <!--<div style="margin-top:30px; text-align: center;">
                            <button type="submit">Submit</button>
                        </div>-->
                                <!--</form>-->

                            </div>
                            <div class="row">
                                <p class="text-muted"><small>Click image to add or change</small></p>
                            </div>
                        </div>

                    </div>
                    <!--End Of box-body-->
                    <div class="box-header">
                        <h3 class="box-title">Business Address</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8">
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Address</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Enter Your Address" />
                                </div>
                                <div class="col-lg-3">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Work</option>
                                        <option>Home</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label>Town/Locality:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Enter Your Address" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">City/Region:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="City/Region" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Postal/Zip Code:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Postal/Zip Code" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="" class="text-danger">Country:</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Pakistan</option>
                                        <option>United Kingdom</option>
                                        <option>United States</option>
                                        <option>Saudia Arabia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Of box-body-->

                    <div class="box-header">
                        <h3 class="box-title">Settings</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8">
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Types of Contact</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkbox" style="margin-top: 0px;">
                                        <label>
                                            <input type="checkbox">
                                            Agent
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            Bank
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            Buyer
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            Seller
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Status</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Active</option>
                                        <option>Inactive</option>
                                        <option>Suspended</option>
                                        <option>Deleted</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--End Of box-body-->
                    <div class="box-header">
                        <h3 class="box-title"><input type='checkbox' data-bind='checked: displayAdvancedOptions' />
        Display Advanced Information </h3>
                        
                    </div>
                    <div data-bind='fadeVisible: displayAdvancedOptions'>
                    <div class="box-header">
                        <h3 class="box-title">Other Contact Methods</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8">
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">LinkedIn</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="LinkedIn" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Twitter</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Twitter" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Facebook</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Facebook" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Instant Message</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Instant Message" />
                                </div>
                                <div class="col-lg-3">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Skype</option>
                                        <option>Yahoo</option>
                                        <option>MSN</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Of box-body-->
                    <div class="box-header">
                        <h3 class="box-title">Personal Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8">
                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Gender</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Date Of Birth</label>
                                </div>
                                <div class="col-lg-6">
                                    <input id="DateOfBirth" type="text" class="form-control input-sm" data-bind="datepicker: dateOfBirth" placeholder="Date Of Birth" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Occupation</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Occupation" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Merital Status</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Single</option>
                                        <option>Engaged</option>
                                        <option>Married</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Position</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="chosen-select" data-bind="value: '', select2: {}" style="width: 100%;">
                                        <option>Director</option>
                                        <option>Owner</option>
                                        <option>Manager</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-3">
                                    <label for="">Interests:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input-sm" placeholder="Interests" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Of box-body-->
                        </div>
                    <hr class="mart2" />
                    <div class="row">
                        <div class="box-body">
                            <!--<div class="col-lg-4 pull-right">
                                <button data-bind="click: save" class="btn btn-success pull-right" style="width: 120px; margin-right: 20px;">Save</button>
                                <button data-bind="click: close" class="btn btn-danger pull-right" style="width: 120px; margin-right: 20px;">Close</button>

                            </div>-->
                            <div class="col-lg-4 pull-right">
                                <div class="col-lg-5 pull-right">
                                    <button class="btn btn-block btn-success " data-bind="click: save">Save</button>
                                </div>
                                <div class="col-lg-5 pull-right">
                                    <button class="btn btn-block btn-danger " data-bind="click: close">Close</button></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</section>




